@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Libre Baskerville", serif;
  transition: all 0.5s;
}

li {
  list-style-type: none;
}

p {
  color: #7D7D7D;
}

.google-auth-button {
  font-size: 0.8rem;
  text-decoration: none;
  color: #7D7D7D;
  letter-spacing: 2px !important;
  cursor: pointer;
}
.google-auth-button:hover {
  color: black;
}

header {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3rem;
  padding: 1rem 0;
  border-bottom: 1px #E5E5E5 solid;
  opacity: 0;
  -webkit-animation: appear 0.5s forwards ease-in;
          animation: appear 0.5s forwards ease-in;
  height: 10%;
}
header a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #7D7D7D;
  letter-spacing: 2px;
  cursor: pointer;
}
header a:hover {
  color: black;
}

.header a {
  font-size: 0.7rem;
}

.link {
  text-decoration: underline;
  color: #7D7D7D;
  font-size: 0.8rem;
}
.link:hover {
  color: black;
}

img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

.button {
  cursor: pointer;
}

.image {
  width: 100%;
  display: block;
  transition: opacity 1.5s;
  padding-bottom: 2.3rem;
  -webkit-animation: appear 1.5s forwards ease-in;
          animation: appear 1.5s forwards ease-in;
}
.image:hover {
  opacity: 0.8;
}

.image-container {
  position: relative;
  display: flex;
  cursor: pointer;
  height: 100%;
}

.checklist {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: auto;
  font-size: 1rem;
}

.selected {
  position: relative;
}

.selected:after {
  content: "";
  position: absolute;
  bottom: -0.525rem;
  left: -0.5rem;
  right: -0.5rem;
  height: 0.75rem;
  z-index: 0;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-container__image {
  position: relative;
  min-width: 25rem;
  max-width: 40rem;
  display: flex;
}
.image-container__image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.caption {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.caption p {
  color: white;
  opacity: 0.8;
}

.caption.board-name {
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 1rem;
  padding-left: 2rem;
}

.img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  flex: 1;
}
.img:hover {
  filter: brightness(60%);
}

.img.dimmed {
  filter: brightness(60%);
}

.modal .addMoreLinks {
  margin-right: auto;
  border: none;
  padding: 0;
  text-decoration: underline;
}

.wrapper {
  height: 1.5rem;
  width: 4rem;
  border-radius: 2rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 1px #7D7D7D solid;
}

#checkbox {
  visibility: hidden;
}
#checkbox:checked ~ .left {
  transform: translateY(-50%) scale(0);
}
#checkbox:checked ~ .right {
  transform: translateY(-50%) scale(1);
  z-index: 10;
}

.left, .right {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
}

.left {
  background: #324047;
  left: 10%;
  z-index: 10;
  transform: translateY(-50%) scale(1);
  transition: all 200ms cubic-bezier(0.8, 0.7, 0.72, 0.78);
}

.right {
  background: #FCD783;
  right: 10%;
  transform: translateY(-50%) scale(0);
  transition: all 200ms cubic-bezier(0.8, 0.7, 0.72, 0.78);
}

.trash {
  display: none;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 2%;
  top: 2%;
  z-index: 250;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.trash img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.trash.show {
  display: flex;
}

.settings {
  display: none;
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 2%;
  top: 2%;
  z-index: 2;
  background-color: #F5F5F5;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.settings img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.settings.show {
  display: flex;
}

.slideshow {
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.slideshow-container {
  width: 100%;
  height: 90%;
  display: flex;
  gap: 25%;
  padding: 0 2rem;
  opacity: 0;
  -webkit-animation: appear 0.5s forwards ease-in;
          animation: appear 0.5s forwards ease-in;
  transition: all 5s;
}
.slideshow-container p {
  line-height: 2;
}
.slideshow-container .image-container__caption {
  padding: 0;
  padding-top: 0;
  position: relative;
  color: black;
  top: 0;
}
.slideshow-container .image-container__caption .text {
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  left: -3rem;
  padding: 3rem;
  padding-top: 0;
  word-break: break-word;
  padding-right: 0;
}
.slideshow-container .image-container__caption h2 {
  min-width: 22rem;
  font-size: 2.8rem;
}
.slideshow-container .image-container__caption p {
  font-size: 1rem;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.slideshow-container-center {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 25%;
  padding: 0 2rem;
  opacity: 0;
  -webkit-animation: appear 0.5s forwards ease-in;
          animation: appear 0.5s forwards ease-in;
  transition: all 5s;
  justify-content: center;
  padding: 0;
  padding-bottom: 0;
}
.slideshow-container-center .image-container__image {
  width: 30rem;
  display: flex;
  justify-content: center;
}
.slideshow-container-center .image-container__image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.progress-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  position: relative;
  height: 10%;
  gap: 2rem;
  background-color: white;
}
.progress-container .progress {
  flex: 10;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-basis: 100%;
  height: 1px;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.1);
}
.progress-container .progress .progress__filled {
  width: 50%;
  background: black;
  flex: 0;
  flex-basis: 0%;
  transition: all 0.5s;
}
.progress-container .secondsPerSlide {
  width: 2rem;
  text-align: center;
  border: none;
  border-bottom: 1px rgb(53, 53, 53) solid;
}
.progress-container .secondsPerSlide:focus {
  outline: none;
  border: none;
  border-bottom: 1px rgb(53, 53, 53) solid;
}
.progress-container .changePerSlide {
  display: flex;
  gap: 0.5rem;
  color: #7D7D7D;
  width: 100%;
}

.progress-container-center {
  justify-content: flex-end;
}

.masonry {
  -moz-columns: auto 4;
       columns: auto 4;
  padding: 2.5rem;
  -moz-column-gap: 2.3rem;
       column-gap: 2.3rem;
  opacity: 0;
  transition: all 1s;
  -webkit-animation: appear 0.5s forwards ease-in;
          animation: appear 0.5s forwards ease-in;
}

.slide-name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.slide-name p {
  font-size: 0.9rem;
  color: black;
}

.controls {
  display: flex;
  gap: 2rem;
}
.controls .button {
  padding: 0;
}
.controls img {
  width: 1.7rem;
  height: 1.7rem;
  opacity: 0.5;
}
.controls img:hover {
  opacity: 1;
}

.view-image {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.9rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  left: 5%;
  bottom: 11%;
  cursor: pointer;
}
.view-image img {
  max-width: 100%;
  max-height: 100%;
}
.view-image span {
  color: white;
  letter-spacing: 2px;
  font-size: 0.9rem;
}
.view-image:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 500;
  padding: 2rem 0;
  -webkit-animation: appear 0.2s ease-in forwards;
          animation: appear 0.2s ease-in forwards;
}

.zoom-image {
  display: flex;
  position: relative;
  max-height: 90%;
  max-width: 90%;
}
.zoom-image img {
  -o-object-fit: contain;
     object-fit: contain;
}

.close {
  position: absolute;
  top: -5%;
  right: 0;
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
}
.close:hover {
  opacity: 0.5;
}

.artist {
  width: 7rem;
  display: flex;
  position: absolute;
  bottom: -5%;
  left: 1rem;
}

.description {
  position: relative;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
}

.year {
  position: absolute;
  top: -1rem;
  left: 0;
  font-size: 12rem;
  z-index: -1;
  color: #F3F3F3;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal {
  width: 35rem;
  max-height: 85%;
  padding: 2rem;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  font-family: "Libre Baskerville", serif;
}
.modal label {
  margin-right: auto;
  font-size: 0.8rem;
}
.modal input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 15px;
  font-size: 1.1rem;
  border: 1px rgba(0, 0, 0, 0.3) solid;
}
.modal input:focus {
  outline: #7D7D7D;
}
.modal textarea {
  min-height: 3rem;
  resize: none;
}
.modal button {
  padding: 1rem 2rem;
  background-color: white;
  color: black;
  border: 0.5px #7D7D7D solid;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
}
.modal button:disabled {
  color: rgb(139, 139, 139);
  border: 0.5px transparent solid;
  background-color: rgb(220, 220, 220);
  cursor: not-allowed;
}

.links {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
.links::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
.links::-webkit-scrollbar {
  width: 4px;
  background-color: #F5F5F5;
}
.links::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.links input, .links textarea {
  border: none;
  border-bottom: 1px #324047 solid;
  border-radius: unset;
}
.links input:focus, .links textarea:focus {
  outline: none;
  border: none;
  border-bottom: 1px #324047 solid;
  background-color: rgba(250, 235, 215, 0.3);
}
.links li {
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.links li h1 {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  word-wrap: break-word;
  width: 100%;
  padding: 0;
}
.links li h1 input {
  border: none;
}
.links li h1 input:focus {
  background-color: transparent;
}
.links li form {
  display: none;
}
.links li form.show {
  display: block;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.buttons button:last-child {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.flex div {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.flex div:last-child {
  flex-basis: 20%;
}

.board-pins {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.board-pins h2 {
  font-size: 1.8rem;
}

.addButtonContainer {
  width: 6rem;
  height: 6rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  bottom: 5%;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  border: 1px transparent solid;
}
.addButtonContainer:hover {
  border: 1px rgb(195, 207, 207) solid;
}

.addButton {
  width: 3rem;
  height: 3rem;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.input {
  width: 100%;
  padding: 1rem;
  border-radius: 15px;
  font-size: 1.1rem;
  border: 1px rgba(0, 0, 0, 0.3) solid;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.cardContainer .settingsPopup {
  background-color: white;
  position: absolute;
  right: 0;
  top: 3rem;
  z-index: 5;
  display: none;
  flex-direction: column;
}
.cardContainer .settingsPopup li {
  padding: 1rem 2rem;
}
.cardContainer .settingsPopup li:hover {
  background-color: #7D7D7D;
}
.cardContainer .settingsPopup.show {
  display: flex;
}
.cardContainer .boardName {
  width: 15rem;
  word-break: break-word;
}
.cardContainer .card {
  width: 18rem;
  height: 15rem;
  background-color: rgb(195, 207, 207);
  cursor: pointer;
  border-radius: 15px;
  position: relative;
}
.cardContainer .card .thumbnails {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  overflow: hidden;
}
.cardContainer .card .thumbnails img {
  width: 50%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cardContainer .card:hover {
  background-color: rgba(195, 207, 207, 0.5);
}
.cardContainer span {
  font-size: 1.1rem;
  font-weight: bold;
}

.image-container .settingsPopup {
  background-color: white;
  position: absolute;
  right: 0;
  top: 3rem;
  z-index: 10;
  display: none;
  flex-direction: column;
}
.image-container .settingsPopup li {
  padding: 1rem 2rem;
}
.image-container .settingsPopup li:hover {
  background-color: #7D7D7D;
}
.image-container .settingsPopup.show {
  display: flex;
}

.container {
  padding: 2.5rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  height: 90%;
  position: relative;
}

.plus {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-self: center;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}
.plus img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.plus:hover {
  background-color: rgb(206, 215, 215);
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 250px) and (max-width: 768px) {
  .overlay {
    padding: 1rem;
  }
  .trash {
    display: flex;
  }
  .settings {
    display: flex;
  }
  .slideshow-container-center .image-container {
    justify-content: center;
  }
  .slideshow-container-center .image-container .image-container__image {
    min-width: unset;
    max-width: 20rem;
  }
  .progress-container {
    gap: 0;
    position: fixed;
    bottom: 0;
  }
  .progress-container .changePerSlide {
    font-size: 0.8rem;
    gap: 0.3rem;
  }
  .controls {
    gap: 1rem;
  }
  .controls .button {
    width: 1.3rem;
    height: 1.3rem;
  }
  .page {
    height: 100%;
  }
  .page.single {
    height: 100vh;
  }
  .changePerSlide span {
    display: none;
  }
  .masonry {
    -moz-columns: auto 1;
         columns: auto 1;
  }
  .container {
    justify-content: center;
  }
  .slideshow {
    padding: 1.5rem;
  }
  .slideshow-container {
    justify-content: center;
    padding: 0;
    flex-direction: column;
    gap: 0rem;
    margin: 0;
    padding-bottom: 4rem;
    overflow-x: hidden;
  }
  .zoom-image {
    max-width: 90%;
  }
  .close {
    top: -15%;
    font-size: 0.8rem;
  }
  .image-container {
    flex-direction: column;
  }
  .image-container .image-container__caption {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    top: -5rem;
  }
  .image-container .image-container__caption .text {
    gap: 0.1rem;
    padding: 0;
    padding: 1rem 2rem;
    position: relative;
    left: -0.5rem;
    padding-right: 0;
    width: 88%;
  }
  .image-container .image-container__caption .text h2 {
    font-size: 1.5rem;
  }
  .image-container .image-container__caption .text p {
    font-size: 0.9rem;
  }
  .image-container .image-container__caption h2 {
    min-width: unset;
  }
  .image-container__image {
    width: 100%;
  }
  .view-image {
    top: 5%;
    bottom: unset;
  }
  .artist {
    margin: 0;
    position: relative;
    width: 4rem;
    bottom: 0;
    left: 1rem;
  }
  .year {
    font-size: 6.5rem;
    left: 5rem;
    top: -5rem;
  }
  .progress-container {
    padding: 1rem 1.5rem;
  }
  .slide-name h4 {
    font-size: 0.9rem;
    font-weight: 700;
  }
  .slide-name p {
    font-size: 0.8rem;
  }
  .description {
    padding: 0;
    gap: 4rem;
  }
  header {
    margin: 0;
    padding: 1rem 1.5rem;
    height: 10%;
  }
  header a {
    font-size: 0.8rem;
  }
  header img {
    width: 80%;
  }
}
@media (min-width: 769px) and (max-width: 1000px) {
  .page {
    height: 100%;
  }
  .masonry {
    -moz-columns: auto 2;
         columns: auto 2;
    padding: 2rem;
  }
  .slideshow {
    height: unset;
  }
  .slideshow-container {
    flex-direction: column;
    padding-top: 2rem;
    margin: 0;
    gap: 2rem;
  }
  .slideshow-container-center {
    align-items: center;
  }
  .image-container__caption .text {
    left: -16rem;
    top: -0.5rem;
  }
  .image-container__caption h2 {
    font-weight: 700;
    font-size: 3rem;
    min-width: 25rem;
  }
  .artist {
    width: 10rem;
    bottom: 34%;
  }
  .description {
    padding-top: 8rem;
    padding-bottom: 2rem;
    padding-left: 8rem;
    font-weight: 700;
    gap: 3rem;
  }
  header {
    margin: 0;
    padding: 1.5rem 2.5rem;
  }
  header a {
    font-size: 1.2rem;
  }
  header img {
    width: 80%;
  }
}
@media (min-width: 1001px) and (max-width: 1450px) {
  .masonry {
    -moz-columns: auto 3;
         columns: auto 3;
    padding: 2rem;
  }
  .slideshow {
    height: unset;
  }
  .slideshow-container {
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding-bottom: 4rem;
    gap: 2rem;
  }
  .slideshow-container-center .image-container {
    justify-content: center;
  }
  .image-container__caption .text {
    left: -16rem;
    top: -0.5rem;
  }
  .image-container__caption h2 {
    font-weight: 700;
    font-size: 3.6rem;
    min-width: 25rem;
  }
  .artist {
    width: 10rem;
    bottom: 43%;
  }
  .description {
    padding-left: 8rem;
    font-weight: 700;
    gap: 3rem;
  }
  header {
    margin: 0;
    padding: 2rem 2.5rem;
  }
  header a {
    font-size: 1.2rem;
  }
  header img {
    width: 80%;
  }
  .slide-name h4 {
    font-size: 1.3rem;
  }
  .slide-name p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */