@import "./colors";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html,
body {
    font-family: 'Libre Baskerville', serif;
    transition: all .5s;
}
li {
    list-style-type: none;
}
p {
    color: $gray;
}

header {
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 3rem;
    padding: 1rem 0;
    border-bottom: 1px $light-gray solid;
    opacity: 0;
    animation: appear .5s forwards ease-in;
    height: 10%;
    a {
        font-size: .8rem;
        text-decoration: none;
        color: $gray;
        letter-spacing: 2px;
        cursor: pointer;

        &:hover {
            color: black;
        }
    }
}

.link {
    text-decoration: underline;
    color: $gray;
    font-size: .8rem;

    &:hover {
        color: black;
    }
}

img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
}

.button {
    cursor: pointer;
}

.image {
    width: 100%;
    display: block;
  

    transition: opacity 1.5s;
    padding-bottom: 2.3rem;
    animation: appear 1.5s forwards ease-in;
    &:hover {
        opacity: .8;
     
    }
}

.image-container {
    position: relative;
    display: flex;
    cursor: pointer;
    height: 100%;
}
.checklist {
    display: flex;
    align-items: center;
    gap: 1rem;
        margin-right: auto;
        font-size: 1rem;
    
}
.selected {
    position: relative;
 
  }
  .selected:after {
      content: '';
      position: absolute;
      bottom: -0.525rem;
      left: -0.5rem;
      right: -0.5rem;
      height: 0.75rem;
      z-index: 0;
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

.image-container__image {
    position: relative;
    min-width: 25rem;
    max-width: 40rem;
    display: flex;
    
    img {
        object-fit: cover;
    }
}

.caption {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;

    p {
        color: white;
        opacity: .8;
    }
}
.caption.board-name {
    background-color: rgba(0, 0, 0, .2);
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 2px;
    padding: 1rem;
    padding-left: 2rem;
 
}
.img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: relative;
    flex: 1;
  
    &:hover{
        filter: brightness(60%)
    }
}
.img.dimmed {
    filter: brightness(60%)
}
.wrapper{
    height:1.5rem;
    width:4rem;
    border-radius:2rem;
    position: relative;
    cursor:pointer;
    overflow:hidden;
    border: 1px black solid;
  }
  
  #checkbox{
    
    visibility: hidden;
    
    &:checked ~.left{
       transform:translateY(-50%) scale(0);
      }
    
    &:checked ~.right{
      transform:translateY(-50%) scale(1);
      z-index:10;
    }
    
  }
  
  .left, .right{
    height:1rem;
    width:1rem;
    display: inline-block;
    position: absolute;
    border-radius:50%;
    top:50%;
  }
  
  .left{
    background:#324047;
    left:10%;
    z-index:10;
    transform:translateY(-50%) scale(1);
    transition:all 200ms cubic-bezier(0.8,0.7,0.72,0.78);
  }
  
  .right{
    background:#FCD783;
    right:10%;
    transform:translateY(-50%) scale(0);
    transition:all 200ms cubic-bezier(0.8,0.7,0.72,0.78);
  }
  
  
.trash {
    display: none;
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 250;
    cursor: pointer;
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}
.trash.show {
    display: block;
}
.slideshow {
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

}
.slideshow-container {
    width: 100%;
    height:90%;

    display: flex;

 
    gap: 25%;
    padding: 0 2rem;
    opacity: 0;
    animation: appear .5s forwards ease-in;
    transition: all 5s;

    p {
        line-height: 2;
    }

    .image-container__caption {
        padding: 0;
        padding-top: 0;
        position: relative;
        color: black;
 top: 0;
 

        .text {
            background-color: white;
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            left: -3rem;
            padding: 3rem;
            padding-top: 0;
            
            word-break: break-word;
            padding-right: 0;
        }

        h2 {
            min-width: 22rem;
            font-size: 2.8rem
        }

        p {
            font-size: 1rem
        }
    }
}
.page {
    display: flex ;
    flex-direction: column;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}
.slideshow-container-center {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 25%;
    padding: 0 2rem;
    opacity: 0;
    animation: appear .5s forwards ease-in;
    transition: all 5s;
    justify-content: center;
    padding: 0;
    padding-bottom: 0  ;
    .image-container__image {
        width: 30rem;
        display: flex;
        justify-content: center;
        img {
            object-fit: cover;
        }
    }
}
.progress-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    position: relative;
    height: 10%;
    gap: 2rem;
    .progress {
        flex: 10;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-basis: 100%;
        height: 1px;
        transition: height 0.3s;
        background: rgba(0, 0, 0, 0.1);

        .progress__filled {
            width: 50%;
            background: black;
            flex: 0;
            flex-basis: 0%;
            transition: all .5s;
        }
    }
    .secondsPerSlide {
        width: 2rem;
        text-align: center;
        border: none;
        border-bottom: 1px rgb(53, 53, 53) solid;
        &:focus {
            outline: none;
            border: none;
            border-bottom: 1px rgb(53, 53, 53) solid;
        }
    }
    .changePerSlide {
        display: flex;
        gap: .5rem;
        color: #7D7D7D;
    }
}
.progress-container-center {
    justify-content: flex-end;
}
.masonry {
    columns: auto 4;
    padding: 2.5rem;
    column-gap: 2.3rem;
    opacity: 0;
    transition: all 1s;
    animation: appear .5s forwards ease-in;
}

.slide-name {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    p {
        font-size: .9rem;
        color: black;
    }
}

.controls {
    display: flex;
    gap: 2rem;

    img {
        width: 1.7rem;
        height: 1.7rem;
        opacity: .5;

        &:hover {
            opacity: 1;
        }
    }
}

.view-image {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    padding: .9rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    left: 5%;
    bottom: 11%;
    cursor: pointer;

    img {
        max-width: 100%;
        max-height: 100%;
    }

    span {
        color: white;
        letter-spacing: 2px;
        font-size: .9rem;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.overlay {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 500;
    padding: 2rem 0;
    animation: appear .2s ease-in forwards;


}

.zoom-image {
    display: flex;
    position: relative;
    max-height: 90%;
    max-width: 90%;
    img {
        object-fit: contain;
    }
}

.close {
    position: absolute;
    top: -5%;
    right: 0;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;

    &:hover {
        opacity: .5;
    }
}

.artist {
    width: 7rem;
    display: flex;
    position: absolute;
    bottom: -5%;
    left: 1rem;
}

.description {
    position: relative;
    padding-top: 8rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
}

.year {
    position: absolute;
    top: -1rem;
    left: 0;
    font-size: 12rem;
    z-index: -1;
    color: $light-light-gray;
    font-weight: 700;
    user-select: none;
}
.modal {
    width: 35rem;
   
    padding: 2rem ;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
   
    input {
        width: 100%;
        padding: .8rem;
        border-radius: 15px;
        font-size: 1.1rem;
        border: 1px rgba(0, 0, 0,.3) solid;
    }
    textarea {
        min-height: 3rem;
        resize: none;
    }
    button {
        padding: 1rem;
        border-radius: 25px;
        background-color: rgb(80, 41, 41);
        color: white;
        outline: none;
        border: none;
        cursor: pointer;
        &:disabled {
            background-color: rgb(220, 220, 220);
            cursor:not-allowed;
           
        }
       
    }
}
.links {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }
    
    &::-webkit-scrollbar
    {
        width: 4px;
        background-color: #F5F5F5;
    }
    
    &::-webkit-scrollbar-thumb
    {
        background-color: #000000;
    }
    input, textarea {
        border: none;
        border-bottom: 1px #324047 solid;
        border-radius: unset;
        &:focus {
            outline: none;
            border: none;
            border-bottom: 1px #324047 solid;
            background-color: rgba(250, 235, 215, .3)
        }
    }
    li {
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    
    }
    li h1 {
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        font-size: 1rem;
        word-wrap: break-word;
        width: 100%;
        padding: .5rem 0;
      &:hover {
        background-color: rgba(252, 215, 131,0.5);

      }
    }
    li form{
        display: none;

    }
    li form.show {
        display: block;
    }
}
.buttons {
    display: flex;
    gap: 1rem;
}
.flex {
    display: flex;
    align-items: center;
    gap: 1rem;
   div:last-child {
    flex-basis: 20%;
   }
}
.board-pins {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    h2 {
        font-size: 1.8rem;
    }
}
.addButton {
    width: 3rem;
    height: 3rem;
    outline: none;
    border: none;
    background: transparent;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    bottom: 5%;
    cursor: pointer;
}
.input {

        width: 100%;
        padding: 1rem;
        border-radius: 15px;
        font-size: 1.1rem;
        border: 1px rgba(0, 0, 0,.3) solid;
    
}
.cardContainer {
    display: flex;
    flex-direction: column;
    gap:1rem;
    position: relative;
    .boardName {
        width: 15rem;
        word-break: break-word;
  
    }
    .card {
        width: 18rem;
        height: 15rem;
        background-color: rgb(195, 207, 207);
        cursor: pointer;
        border-radius: 15px ;
        position: relative;
       
        .thumbnails {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-wrap: wrap;
            border-radius: 15px;
            overflow: hidden;
            img {
                width: 50%;
                height: 50%;
                object-fit: cover;
              
            }
        }
        &:hover {
            background-color: rgba(195, 207, 207,.5);
        }
    }
    span {
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.container {
    padding: 2.5rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}
.plus {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-self: center;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    &:hover {
        background-color: rgb(206, 215, 215);
    }
}

@keyframes appear {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

@media (min-width: 250px) and (max-width: 768px) {
    .masonry {
        columns: auto 1;
    }

    .slideshow-container {
        justify-content: center;
        padding: 0;
        flex-direction: column;
        gap: 0rem;
        margin: 0;
        padding: 1.5rem;
        padding-bottom: 4rem;
        overflow-x: hidden;

    }

    .zoom-image {
        max-width: 90%;
    }

    .close {
        top: -15%;
        font-size: .8rem;
    }

    .image-container {
        flex-direction: column;

        .image-container__caption {
            display: flex;
            gap: .5rem;
            flex-direction: column;
            top: -5rem;

            .text {
                gap: 0.1rem;
                padding: 0;
                padding: 1rem 2rem;
                position: relative;
                left: -.5rem;
                padding-right: 0;
                width: 88%;

                h2 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: .9rem;
                }
            }

            h2 {
                min-width: unset;
            }

        }
    }

    .image-container__image {
        width: 100%;
    }

    .view-image {
        top: 5%;
        bottom: unset;
    }

    .artist {

        margin: 0;
        position: relative;
        width: 4rem;
        bottom: 0;
        left: 1rem;
    }

    .year {
        font-size: 6.5rem;
        left: 5rem;
        top: -5rem;
    }

    .progress-container {
        padding: 1rem 1.5rem;
    }

    .slide-name {
        h4 {
            font-size: .9rem;
            font-weight: 700;
        }

        p {
            font-size: .8rem;

        }

    }

    .description {
        padding: 0;
        gap: 4rem;
    }

    header {
        margin: 0;
        padding: 1rem 1.5rem;
        height: 10%;

        a {
            font-size: .5rem;
        }

        img {
            width: 50%;
        }
    }

}

@media (min-width: 769px) and (max-width: 1000px) {
    .page {
        height: 100%;
    }
    .masonry {
        columns: auto 2;
        padding: 2rem;
    }
    .slideshow {
        height:unset
    }
    .slideshow-container {
        flex-direction: column;
        padding-top: 2rem;
        margin: 0;
     
        gap: 2rem;
    }
    .slideshow-container-center {
        align-items: center;
    }
    .image-container__caption  {
        .text {
            left: -16rem;
            top: -.5rem;
        }
        h2 {
            font-weight: 700;
            font-size: 3rem;
            min-width: 25rem
          }
       
      }
      .artist {
        width: 10rem;
        bottom: 34%;
      }
    
      .description {
        padding-top: 8rem;
        padding-bottom: 2rem;
        padding-left: 8rem;
        font-weight: 700;
        gap: 3rem;
      }
    
      header {
        margin: 0;
        padding: 1.5rem 2.5rem;
        a {
            font-size: 1.2rem;
          }
          img {
            width: 80%;
          }
      }
}

@media (min-width: 1001px) and (max-width: 1450px) {
    .masonry {
        columns: auto 3;
        padding: 2rem;
      }
      .slideshow {
        height:unset
    }
      .slideshow-container {
        flex-direction: column;
 
        justify-content: center;
        margin: 0;
        padding-bottom: 4rem;
        gap: 2rem;
      }
      .slideshow-container-center {
        .image-container {
            justify-content: center;
          }
      }
      
      .image-container__caption  {
        .text {
            left: -16rem;
            top: -.5rem;
        }
        h2 {
            font-weight: 700;
            font-size: 3.6rem;
            min-width: 25rem
          }
       
      }
      .artist {
        width: 10rem;
        bottom: 43%;
      }
    
      .description {
        padding-left: 8rem;
        font-weight: 700;
        gap: 3rem;
      }
      header {
        margin: 0;
        padding: 2rem 2.5rem;

        a {
            font-size: 1.2rem;
          }
          img {
            width: 80%;
          }
      }
      .slide-name  {
        h4 {
            font-size: 1.3rem;
        }
        p {
            font-size: 1rem;
          }
        
      }
}


